@charset "utf-8";

@mixin clearfix{
  zoom:1;
  &:after{
    clear:both;
    content:".";
    display:block;
    height:0;
    overflow:hidden;
    width:0;
    visibility:hidden;
  }
}

@mixin list-indent{
  li{
    padding-left: 1em;
    text-indent: -1em;
  }
  & .double{
    padding-left: 2em;
    text-indent: -2em;
  }
  &-double{
    li{
      padding-left: 2em;
      text-indent: -2em;
    }
  }
  &-dotted{
    li{
      padding-left: 5px;
      text-indent: -5px;
    }
  }
  &-arrow{
    li{
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAMAAABRhm3UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFKarh////0S5qSQAAAAJ0Uk5T/wDltzBKAAAAGklEQVR42mJgZGRkACMQwcAA5sB4EDmAAAMAAbkAGHH9JXQAAAAASUVORK5CYII=) no-repeat left center;
      padding-left:12px;
    }
  }
}

@mixin list-double-indent{
  li{
    padding-left: 2em;
    text-indent: -2em;
  }
}

@mixin list-inline{
  @include clearfix;
  li{
    display:block;
    float: left;
    background: url(data:image/gif;base64,R0lGODlhBAAHAIABAIGtAAAAACH5BAEAAAEALAAAAAAEAAcAAAIIRB6Wu2AKUQEAOw==) no-repeat 0% 50%;
    padding-left: 10px;
  }
  :first-child{
    margin-left: 0;
  }
}